In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import os

In [4]:
df2 = pd.read_csv('Taxi_Trips.csv')

Cleaned data without NaN and removed unnecessary columns.

In [5]:
df_clean = df2.dropna()
df_clean = df_clean.reset_index(drop=True)
taxi = df_clean.drop(columns = ['Trip End Timestamp', 'Trip Total', 'Dropoff Centroid  Location', 'Trip Seconds', 'Trip ID', 'Taxi ID', 'Dropoff Community Area', 'Dropoff Centroid  Location','Payment Type','Pickup Census Tract', 'Dropoff Census Tract', 'Tolls', 'Extras', 'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude'])
taxi = taxi[(taxi['Trip Miles'] > 0)]
taxi = taxi[(taxi['Fare'] > 0)]
taxi

,Trip Start Timestamp,Trip Miles,Fare,Tips,Company
0,07/01/2022 12:00:00 AM,4.59,14.00,0.00,City Service
1,07/01/2022 12:00:00 AM,1.06,6.25,0.00,City Service
2,07/01/2022 12:00:00 AM,0.75,5.25,2.00,City Service
3,07/01/2022 12:00:00 AM,1.29,11.00,2.58,City Service
4,07/01/2022 12:00:00 AM,16.70,42.50,4.00,Taxi Affiliation Services
...,...,...,...,...,...
478762,08/31/2022 11:30:00 PM,3.48,11.76,3.00,City Service
478763,08/31/2022 11:30:00 PM,1.24,7.00,2.00,Flash Cab
478764,08/31/2022 11:30:00 PM,2.24,9.50,4.00,Chicago Independents
478765,08/31/2022 11:30:00 PM,0.89,5.50,0.00,City Service
478767,08/31/2022 11:30:00 PM,17.89,43.75,9.65,City Service

Group data by date and count thr total number of trips of each day.

In [24]:
s = pd.to_datetime(taxi['Trip Start Timestamp'])
date_count = s.groupby(s.dt.floor('D')).size().reset_index(name='number_of_daily_trips')
date_count.rename(columns={'Trip Start Timestamp':'Date'}, inplace=True)
date_count['Date'] = date_count['Date'].dt.strftime('%Y-%m-%d')
print(date_count)

           Date  number_of_daily_trips
0    2021-01-01                     27
1    2021-01-02                     82
2    2021-01-03                     69
3    2021-01-04                    345
4    2021-01-05                    345
..          ...                    ...
360  2021-12-27                   2036
361  2021-12-28                   2417
362  2021-12-29                   2549
363  2021-12-30                   2536
364  2021-12-31                   2248

[365 rows x 2 columns]

Added new column total number of trips into exsting dataset that we cleaned at the beginning.

In [22]:
taxi['Trip Start Timestamp'] = pd.to_datetime(taxi['Trip Start Timestamp'])
taxi.rename(columns={'Trip Start Timestamp':'Trip Start Timestamp'}, inplace=True)
daily_avg = taxi.set_index('Trip Start Timestamp').groupby(pd.Grouper(freq='d')).mean().round(decimals = 2)
daily_trip_avg = daily_avg.reset_index()
daily_trip_avg.insert(0,'Total Trips', date_count['number_of_daily_trips'])
daily_trip_avg
os.makedirs('Desktop', exist_ok=True)  
daily_trip_avg.to_csv('Daily Taxi Trip 2021.csv')

Open taxiTrips data of June in 2021.
Process data of June by removing null and specific columns, and export data save as Taxi Trips in June.csv.

In [60]:
df = pd.read_csv('Taxi_Trips (2).csv')
df_clean1 = df.dropna()
df_clean1 = df_clean1.reset_index(drop=True)
taxi1 = df_clean1.drop(columns = ['Trip End Timestamp', 'Trip ID', 'Dropoff Centroid  Location','Trip Total', 'Taxi ID', 'Pickup Community Area', 'Dropoff Community Area', 'Payment Type','Pickup Census Tract', 'Dropoff Census Tract', 'Tolls', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude', 'Extras', 'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude', 'Pickup Centroid Location'])
taxi1 = taxi1[(taxi1['Trip Miles'] > 0)]
taxi1 = taxi1[(taxi1['Fare'] > 0)]
taxi1 = taxi1[(taxi1['Trip Seconds'] > 0)]
taxi1
os.makedirs('Desktop', exist_ok=True)  
taxi1.to_csv('Taxi Trips in June.csv')

,Trip Start Timestamp,Trip Seconds,Trip Miles,Fare,Tips,Company
0,06/01/2021 12:15:00 AM,60.0,0.20,3.50,0.0,Taxi Affiliation Services
3,06/01/2021 12:30:00 AM,486.0,2.92,10.00,7.0,24 Seven Taxi
6,06/01/2021 01:30:00 AM,1680.0,18.20,45.00,9.9,Taxi Affiliation Services
7,06/01/2021 01:45:00 AM,1080.0,1.00,41.50,9.4,Taxi Affiliation Services
8,06/01/2021 01:45:00 AM,962.0,10.92,28.50,5.0,Sun Taxi
...,...,...,...,...,...,...
78544,06/30/2021 11:45:00 PM,1469.0,16.90,42.00,10.0,Medallion Leasin
78545,06/30/2021 11:45:00 PM,540.0,3.00,10.50,2.5,Taxi Affiliation Services
78548,06/30/2021 11:45:00 PM,60.0,0.10,3.50,0.0,Medallion Leasin
78550,06/30/2021 11:45:00 PM,682.0,4.40,13.75,0.0,Medallion Leasin
78552,06/30/2021 11:45:00 PM,1517.0,17.65,43.50,0.0,City Service

Open taxiTrips data of March in 2021.
Process data of March by removing null and specific columns, and export data save as Taxi Trips in March.csv.

In [63]:
df1 = pd.read_csv('Taxi_Trips (5).csv')
df_clean2 = df1.dropna()
df_clean2 = df_clean2.reset_index(drop=True)
taxi2 = df_clean2.drop(columns = ['Trip End Timestamp', 'Trip ID', 'Dropoff Centroid  Location', 'Trip Total', 'Taxi ID', 'Pickup Community Area', 'Dropoff Community Area', 'Payment Type','Pickup Census Tract', 'Dropoff Census Tract', 'Tolls', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude', 'Extras', 'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude', 'Pickup Centroid Location'])
taxi2 = taxi2[(taxi2['Trip Miles'] > 0)]
taxi2 = taxi2[(taxi2['Fare'] > 0)]
taxi2 = taxi2[(taxi2['Trip Seconds'] > 0)]
print(taxi2)
os.makedirs('Desktop', exist_ok=True)  
taxi2.to_csv('Taxi Trips in March.csv')

         Trip Start Timestamp  Trip Seconds  Trip Miles   Fare  Tips  \
0      03/01/2021 12:15:00 AM        1740.0       18.00  44.50  10.2
1      03/01/2021 12:15:00 AM        1320.0       17.20  48.75   5.0
2      03/01/2021 06:45:00 AM         364.0        1.20   6.50   0.0
4      03/01/2021 07:15:00 AM         240.0        0.70   5.50   0.0
5      03/01/2021 07:15:00 AM         253.0        1.00   5.50   0.0
...                       ...           ...         ...    ...   ...
23480  03/31/2021 09:00:00 PM         454.0        1.34   7.00   0.0
23481  03/31/2021 09:00:00 PM        1440.0        0.90  38.75   0.0
23482  03/31/2021 09:00:00 PM         480.0        2.10   8.50   0.0
23483  03/31/2021 09:15:00 PM         180.0        0.60   4.75   0.0
23485  03/31/2021 09:45:00 PM        1680.0       14.40  37.00   0.0

                             Company
0                   Medallion Leasin
1          Taxi Affiliation Services
2                         Setare Inc
4      Taxicab Insurance Agency, LLC
5                   Medallion Leasin
...                              ...
23480                      Flash Cab
23481      Taxi Affiliation Services
23482      Taxi Affiliation Services
23483          KOAM Taxi Association
23485            Top Cab Affiliation

[18524 rows x 6 columns]

Open taxiTrips data of September in 2021. Process data of September by removing null and specific columns, and export data save as Taxi Trips in September.csv.

In [65]:
df3 = pd.read_csv('Taxi_Trips (3).csv')
df_clean3 = df3.dropna()
df_clean3 = df_clean3.reset_index(drop=True)
taxi3 = df_clean3.drop(columns = ['Trip End Timestamp', 'Trip ID', 'Dropoff Centroid  Location', 'Trip Total', 'Taxi ID', 'Pickup Community Area', 'Dropoff Community Area', 'Payment Type','Pickup Census Tract', 'Dropoff Census Tract', 'Tolls', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude', 'Extras', 'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude', 'Pickup Centroid Location'])
taxi3 = taxi3[(taxi3['Trip Miles'] > 0)]
taxi3 = taxi3[(taxi3['Fare'] > 0)]
taxi3 = taxi3[(taxi3['Trip Seconds'] > 0)]
print(taxi3)
os.makedirs('Desktop', exist_ok=True)  
taxi3.to_csv('Taxi Trips in September.csv')

          Trip Start Timestamp  Trip Seconds  Trip Miles   Fare   Tips  \
1       09/01/2021 12:15:00 AM         153.0        0.53   4.50   0.00
2       09/01/2021 12:30:00 AM        1740.0       19.50  48.25   3.00
3       09/01/2021 12:30:00 AM         300.0        1.00   5.75   0.00
4       09/01/2021 12:30:00 AM        1620.0        1.10  44.50   9.80
5       09/01/2021 12:45:00 AM        1500.0       34.90  44.75  10.00
...                        ...           ...         ...    ...    ...
143280  09/30/2021 11:45:00 PM         328.0        1.20   6.50   0.00
143281  09/30/2021 11:45:00 PM         515.0        0.95   6.75   3.00
143282  09/30/2021 11:45:00 PM         465.0        0.96   6.75   3.00
143283  09/30/2021 11:45:00 PM        1368.0       18.30  45.25   7.46
143284  09/30/2021 11:45:00 PM         263.0        0.94   9.36   2.14

                                  Company
1                               Flash Cab
2               Taxi Affiliation Services
3               Taxi Affiliation Services
4       Blue Ribbon Taxi Association Inc.
5               Star North Management LLC
...                                   ...
143280                          Flash Cab
143281                           Sun Taxi
143282                           Sun Taxi
143283                         Setare Inc
143284               Chicago Independents

[117561 rows x 6 columns]

Open taxiTrips data of December in 2021. Process data of December by removing null and specific columns, and export data save as Taxi Trips in December.csv.

In [68]:
df4 = pd.read_csv('Taxi_Trips (4).csv')
df_clean4 = df4.dropna()
df_clean4 = df_clean4.reset_index(drop=True)
taxi4 = df_clean4.drop(columns = ['Trip End Timestamp', 'Trip ID', 'Dropoff Centroid  Location', 'Trip Total', 'Taxi ID', 'Pickup Community Area', 'Dropoff Community Area', 'Payment Type','Pickup Census Tract', 'Dropoff Census Tract', 'Tolls', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude', 'Extras', 'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude', 'Pickup Centroid Location'])
taxi4 = taxi4[(taxi4['Trip Miles'] > 0)]
taxi4 = taxi4[(taxi4['Fare'] > 0)]
taxi4 = taxi4[(taxi4['Trip Seconds'] > 0)]
print(taxi4)
os.makedirs('Desktop', exist_ok=True)  
taxi4.to_csv('Taxi Trips in December.csv')

          Trip Start Timestamp  Trip Seconds  Trip Miles   Fare   Tips  \
0       12/01/2021 12:00:00 AM         536.0        2.13   8.75   4.00
1       12/01/2021 12:00:00 AM         744.0        6.50  18.00   3.22
2       12/01/2021 12:00:00 AM          60.0        0.20   3.75   2.00
3       12/01/2021 12:00:00 AM         780.0        3.20  12.00   2.50
4       12/01/2021 12:00:00 AM         240.0        0.60   5.25   3.00
...                        ...           ...         ...    ...    ...
147404  12/31/2021 11:45:00 PM         546.0        0.56   6.25   0.00
147406  12/31/2021 11:45:00 PM        1800.0        1.00  44.50   5.00
147408  12/31/2021 11:45:00 PM        2419.0       12.00  36.25   0.00
147411  12/31/2021 11:45:00 PM        2400.0       12.70  37.00  10.35
147412  12/31/2021 11:45:00 PM        4620.0        8.50  37.50   0.00

                                  Company
0                              Globe Taxi
1                        Medallion Leasin
2       Blue Ribbon Taxi Association Inc.
3       Blue Ribbon Taxi Association Inc.
4           Taxicab Insurance Agency, LLC
...                                   ...
147404               Chicago Independents
147406          Taxi Affiliation Services
147408                   Medallion Leasin
147411      Taxicab Insurance Agency, LLC
147412          Taxi Affiliation Services

[124441 rows x 6 columns]